<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39800414771-tkdnva8q8ndcp361gf8ealsil0gcrrj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39800414771-tkdnva8q8ndcp361gf8ealsil0gcrrj0</string>
	<key>API_KEY</key>
	<string>AIzaSyD26Bauy2I0jDM3aoG644e_qxbhsscSIIU</string>
	<key>GCM_SENDER_ID</key>
	<string>39800414771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vamsidhar.hostely</string>
	<key>PROJECT_ID</key>
	<string>hostel-management-83521</string>
	<key>STORAGE_BUCKET</key>
	<string>hostel-management-83521.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39800414771:ios:79cdf6f7a8a00001183946</string>
</dict>
</plist>